<h1>About Us</h1>
<p>Kicks Are Sick has been around in the industry for a year and has currently 5 employees working that is selling basketball sneakers for the basketball
community this company also sells not only sneakers but also basketball accessories that is already becoming a famoustrademark
for basketball players around the world and basketball equipment to enhance the skills and abilities of the athletes.
We sell our products through our office in Winnipeg, MB and also through social networking sites with twitter and Facebook to meet-up with our customers.
Many ballers in Canada, not only here in the city are interested buying our products but for some circumstances
we are unable to accommodate them all and give them what they want. </p>
